In [115]:
import os
import sys
from operator import itemgetter
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [116]:
f = '/Volumes/USB_CHA/Hackathon/data/UTSEUS-MOBIKE-shanghai_full.csv'

In [117]:
mobike = pd.read_csv(f, sep=',')

In [149]:
data = mobike #remove sample for final data
data.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,1,324731,7541,2016-08-28 00:00,121.490,31.280,2016-08-28 00:08,121.486,31.273,"121.485,31.275#121.485,31.276#121.486,31.273#1..."
1,6,288841,4427,2016-08-28 00:00,121.462,31.313,2016-08-28 00:17,121.455,31.315,"121.455,31.313#121.455,31.314#121.455,31.315#1..."
2,8,315873,6474,2016-08-28 00:00,121.416,31.154,2016-08-28 00:14,121.419,31.156,"121.416,31.154#121.416,31.155#121.417,31.155#1..."
3,10,93155,12616,2016-08-28 00:00,121.436,31.320,2016-08-28 00:12,121.444,31.310,"121.436,31.318#121.436,31.319#121.436,31.320#1..."
4,11,352484,11596,2016-08-28 00:00,121.459,31.325,2016-08-28 00:08,121.460,31.315,"121.459,31.315#121.459,31.316#121.459,31.317#1..."

In [150]:
data.describe()

,orderid,bikeid,userid,start_location_x,start_location_y,end_location_x,end_location_y
count,1.023603e+06,1.023603e+06,1.023603e+06,1.023603e+06,1.023603e+06,1.023603e+06,1.023603e+06
mean,8.931520e+05,1.556392e+05,7.831266e+03,1.214541e+02,3.125169e+01,1.214538e+02,3.125195e+01
std,5.215483e+05,9.899988e+04,4.533025e+03,8.587387e-02,6.041155e-02,6.311363e-02,6.715528e-02
min,1.000000e+00,0.000000e+00,0.000000e+00,6.103850e+01,3.079500e+01,1.139490e+02,2.253200e+01
25%,4.396355e+05,7.475700e+04,4.082000e+03,1.214150e+02,3.121200e+01,1.214140e+02,3.121200e+01
50%,8.901180e+05,1.417180e+05,7.625000e+03,1.214560e+02,3.126000e+01,1.214560e+02,3.126000e+01
75%,1.341202e+06,2.290430e+05,1.127600e+04,1.214970e+02,3.129400e+01,1.214970e+02,3.129400e+01
max,1.807865e+06,3.873540e+05,1.775600e+04,1.219730e+02,4.000900e+01,1.266810e+02,5.853700e+01

In [151]:
data_opt = data[['start_location_x','start_location_y','start_time']]

In [152]:
data_opt.head()

   start_location_x  start_location_y        start_time
0           121.490            31.280  2016-08-28 00:00
1           121.462            31.313  2016-08-28 00:00
2           121.416            31.154  2016-08-28 00:00
3           121.436            31.320  2016-08-28 00:00
4           121.459            31.325  2016-08-28 00:00

In [153]:
def time_string_to_decimals(time_string):
    time_string = (str(time_string)[-5:])
    fields = time_string.split(":")
    hours = fields[0] if len(fields) > 0 else 0.0
    minutes = fields[1] if len(fields) > 1 else 0.0

    return float(hours) + (float(minutes) / 60.0)

In [154]:
data_hour['start_time'] = data_opt['start_time'].apply(time_string_to_decimals)

In [155]:
data_hour['start_time'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: start_time, dtype: float64

In [156]:
data_opt['start_time'] = data_hour.loc['start_time']
data_opt.head()

/Users/charlotte/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   start_location_x  start_location_y  start_time
0           121.490            31.280         0.0
1           121.462            31.313         0.0
2           121.416            31.154         0.0
3           121.436            31.320         0.0
4           121.459            31.325         0.0

In [ ]:
from datetime import datetime, timedelta
 
def date_to_minute(duration):
    nb_minutes = round(duration.total_seconds()/60)
    return nb_minutes

def str_to_datetime(string):
    return datetime.strptime(string, '%Y-%m-%d %H:%M')

data_opt['duration'] = (data['end_time'].apply(str_to_datetime) - data['start_time'].apply(str_to_datetime))
data_opt['duration'].head()

In [144]:
data_opt['duration'].describe()

count                       500
mean     0 days 00:16:53.040000
std      0 days 00:16:18.007236
min             0 days 00:01:00
25%             0 days 00:07:00
50%             0 days 00:12:00
75%             0 days 00:19:00
max             0 days 02:27:00
Name: duration, dtype: object

In [145]:
data_opt['duration'] = data_opt['duration'].apply(date_to_minute)
data_opt['duration'].head()

/Users/charlotte/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

673940    12.0
531938    22.0
219736     8.0
266030    10.0
808702    19.0
Name: duration, dtype: float64

In [146]:
data_opt['duration'].describe()

count    500.000000
mean      16.884000
std       16.300121
min        1.000000
25%        7.000000
50%       12.000000
75%       19.000000
max      147.000000
Name: duration, dtype: float64

In [147]:
data_opt['duration'].quantile([0.17, 0.33, .5, .67, .83])

0.17     6.0
0.33     9.0
0.50    12.0
0.67    16.0
0.83    25.0
Name: duration, dtype: float64

In [148]:
data_opt.to_csv('mobike_sample_hour_duration_2.csv')