In [115]:
import os
import sys
from operator import itemgetter
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [116]:
f = '/Volumes/USB_CHA/Hackathon/data/UTSEUS-MOBIKE-shanghai_full.csv'

In [117]:
mobike = pd.read_csv(f, sep=',')

In [177]:
data = mobike.sample(100000) #remove sample for final data
data.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
596989,1040717,105333,5953,2016-08-08 17:51,121.474,31.334,2016-08-08 17:53,121.476,31.335,"121.474,31.334#121.475,31.334#121.475,31.335#1..."
390936,673822,20140,11764,2016-08-13 11:15,121.462,31.203,2016-08-13 11:26,121.454,31.207,"121.454,31.207#121.455,31.207#121.455,31.208#1..."
698262,1218608,171535,7849,2016-08-11 21:04,121.452,31.182,2016-08-11 21:15,121.443,31.184,"121.443,31.183#121.443,31.184#121.444,31.180#1..."
324193,557458,145654,8408,2016-08-20 16:41,121.494,31.349,2016-08-20 16:47,121.496,31.346,"121.494,31.349#121.495,31.349#121.496,31.346#1..."
762423,1331710,315806,15278,2016-08-30 16:23,121.406,31.193,2016-08-30 16:31,121.403,31.198,"121.403,31.198#121.404,31.193#121.404,31.194#1..."

In [178]:
data.describe()

,orderid,bikeid,userid,start_location_x,start_location_y,end_location_x,end_location_y
count,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,8.938208e+05,155342.377860,7865.797920,121.454203,31.252049,121.453731,31.252184
std,5.219851e+05,99045.921497,4542.954413,0.062836,0.063498,0.067867,0.070022
min,6.000000e+00,3.000000,0.000000,116.349000,30.910000,113.949000,22.532000
25%,4.392208e+05,74474.000000,4107.000000,121.415000,31.212000,121.414000,31.213000
50%,8.897180e+05,141658.500000,7662.000000,121.456000,31.261000,121.456000,31.261000
75%,1.343100e+06,228740.250000,11319.000000,121.497000,31.294000,121.497000,31.294000
max,1.807851e+06,387342.000000,17753.000000,121.772000,40.009000,121.777000,40.008000

In [179]:
data_opt = data[['start_location_x','start_location_y','start_time']]

In [180]:
data_opt.head()

        start_location_x  start_location_y        start_time
596989           121.474            31.334  2016-08-08 17:51
390936           121.462            31.203  2016-08-13 11:15
698262           121.452            31.182  2016-08-11 21:04
324193           121.494            31.349  2016-08-20 16:41
762423           121.406            31.193  2016-08-30 16:23

In [181]:
def time_string_to_decimals(time_string):
    time_string = (str(time_string)[-5:])
    fields = time_string.split(":")
    hours = fields[0] if len(fields) > 0 else 0.0
    minutes = fields[1] if len(fields) > 1 else 0.0

    return float(hours) + (float(minutes) / 60.0)

In [182]:
data_hour['start_time'] = data_opt['start_time'].apply(time_string_to_decimals)

In [183]:
data_hour['start_time'].head()

596989    17.850000
390936    11.250000
698262    21.066667
324193    16.683333
762423    16.383333
Name: start_time, dtype: float64

In [184]:
data_opt['start_time'] = data_hour.loc['start_time']
data_opt.head()

/Users/charlotte/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

        start_location_x  start_location_y  start_time
596989           121.474            31.334   17.850000
390936           121.462            31.203   11.250000
698262           121.452            31.182   21.066667
324193           121.494            31.349   16.683333
762423           121.406            31.193   16.383333

In [185]:
from datetime import datetime, timedelta
 
def date_to_minute(duration):
    nb_minutes = round(duration.total_seconds()/60)
    return nb_minutes

def str_to_datetime(string):
    return datetime.strptime(string, '%Y-%m-%d %H:%M')

data_opt['duration'] = (data['end_time'].apply(str_to_datetime) - data['start_time'].apply(str_to_datetime))
data_opt['duration'].head()

/Users/charlotte/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

596989   00:02:00
390936   00:11:00
698262   00:11:00
324193   00:06:00
762423   00:08:00
Name: duration, dtype: timedelta64[ns]

In [186]:
data_opt['duration'].describe()

count                    100000
mean     0 days 00:17:15.269400
std      0 days 00:42:08.803855
min             0 days 00:01:00
25%             0 days 00:07:00
50%             0 days 00:12:00
75%             0 days 00:20:00
max             5 days 11:05:00
Name: duration, dtype: object

In [187]:
data_opt['duration'] = data_opt['duration'].apply(date_to_minute)
data_opt['duration'].head()

/Users/charlotte/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

596989     2.0
390936    11.0
698262    11.0
324193     6.0
762423     8.0
Name: duration, dtype: float64

In [188]:
data_opt['duration'].describe()

count    100000.000000
mean         17.254490
std          42.146731
min           1.000000
25%           7.000000
50%          12.000000
75%          20.000000
max        7865.000000
Name: duration, dtype: float64

In [189]:
data_opt['duration'].quantile([0.17, 0.33, .5, .67, .83])

0.17     6.0
0.33     8.0
0.50    12.0
0.67    16.0
0.83    25.0
Name: duration, dtype: float64

In [190]:
data_opt.to_csv('mobike-100k.csv')